<html>

<style>
	body{ 
		font-size: 15pt;
		font-family: calibri;
    }
</style>

<body>
	<h1>NBA data information search system (2015-2016 season)</h1>
	
	<hr size = "10px" noshade/>
	
	<p>Division information Search </p>
	
	<form method="POST" action="/team_query">
	<p>Division: 
	<select name="name"> 
		<option value="Atlantic"> Atlantic </option>
		<option value="Central"> Central </option>
		<option value="Northwest"> Northwest </option>
		<option value="Pacific"> Pacific </option>
		<option value="Southeast"> Southeast </option>
		<option value="Southwest"> Southwest </option>
	</select>
	<input type="submit" value="Submit">
	</p>
	</form>
	
	<p>Player information and statistics search </p>

	<form method="POST" action="/player_query">
	<p>Player name: <input type="text" name="name"> <input type="submit" value="Submit"></p>
	</form>
	
	<hr>
	
	<h3> Season high statistics </h3>
	
	<ul>
	<li>
	<h4> Points per game: </h4>
	</li>
	
	<div>
		{% for n in data %}
			<div>{{n}}</div>
		{% endfor %}
	</div>
	
	<li>
	<h4> Rebounds per game: </h4>
	</li>
	
	<div>
		{% for n in data2 %}
			<div>{{n}}</div>
		{% endfor %}
	</div>
	
	<li>
	<h4> Assists per game: </h4>
	</li>
	
	<div>
		{% for n in data3 %}
			<div>{{n}}</div>
		{% endfor %}
	</div>
	
	<li>
	<h4> Steals per game: </h4>
	</li>
	
	<div>
		{% for n in data4 %}
			<div>{{n}}</div>
		{% endfor %}
	</div>
	
	<li>
	<h4> Blocks per game: </h4>
	</li>
	
	<div>
		{% for n in data5 %}
			<div>{{n}}</div>
		{% endfor %}
	</div>
	
	
	</ul>
	
</body>

</html>